<div class="item1">
    <div class="left fl">
        <a href="#">
            <img src="images/tb2.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            中文游戏
        </a>
        <a href="#">
            <img src="images/tb3.jpg" alt=""/>
            游戏下载
        </a>
        <a href="#">
            <img src="images/tb4.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb5.jpg" alt=""/>
            游戏攻略
        </a>
        <a href="#">
            <img src="images/tb6.jpg" alt=""/>
            新手问答
        </a>
    </div>
    <div class="right fl">
        <ul>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">口袋妖怪</a></li>
            <li><a href="#">怪物猎人</a></li>
            <li><a href="#">山治猎人</a></li>
            <li><a href="#">最终幻想</a></li>
            <li><a href="#">恶魔城</a></li>
            <li><a href="#">热血传说</a></li>
            <li><a href="#">塞尔达无双</a></li>
            <li><a href="#">牧场物语</a></li>
            <li><a href="#">最终唤醒</a></li>
            <li><a href="#">合金装备</a></li>
            <li><a href="#">拳皇</a></li>
            <li><a href="#">马里奥</a></li>
            <li><a href="#">逆转裁判</a></li>
            <li><a href="#">弑神者</a></li>
            <li><a href="#">火影忍者疾风转</a></li>
            <li><a href="#">灵魂献祭</a></li>
            <li><a href="#">高达</a></li>
        </ul>
    </div>
</div>
<div class="item1">
    <div class="left fl">
        <a href="#">
            <img src="images/tb6.jpg" alt=""/>
            手游首页
        </a>
        <a href="#">
            <img src="images/tb5.jpg" alt=""/>
            新闻资讯
        </a>
        <a href="#">
            <img src="images/tb4.jpg" alt=""/>
            游戏评测
        </a>
        <a href="#">
            <img src="images/tb3.jpg" alt=""/>
            游戏问答
        </a>
        <a href="#">
            <img src="images/tb2.jpg" alt=""/>
            游戏攻略
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            手游大全
        </a>
    </div>
    <div class="right fl">
        <ul>
            <li><a href="#">王者荣耀</a></li>
            <li><a href="#">皇室战争</a></li>
            <li><a href="#">火影忍者</a></li>
            <li><a href="#">捕鱼来了</a></li>
            <li><a href="#">保卫萝卜</a></li>
            <li><a href="#">诛仙手游</a></li>
            <li><a href="#">剑侠情缘</a></li>
            <li><a href="#">口袋妖怪</a></li>
            <li><a href="#">火影忍者</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">拳皇手机版</a></li>
            <li><a href="#">福音战士</a></li>
            <li><a href="#">梦幻西游无双</a></li>
            <li><a href="#">热血传奇手机版</a></li>
            <li><a href="#">垃圾手游公司</a></li>
            <li><a href="#">国产垃圾手游</a></li>
            <li><a href="#">没钱玩</a></li>
            <li><a href="#">全名公敌</a></li>
            <li><a href="#">别惹大侠</a></li>
        </ul>
    </div>
</div>
<div class="item1">
    <div class="left fl">
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb2.jpg" alt=""/>
            中文游戏
        </a>
        <a href="#">
            <img src="images/tb3.jpg" alt=""/>
            游戏下载
        </a>
        <a href="#">
            <img src="images/tb4.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb5.jpg" alt=""/>
            游戏攻略
        </a>
        <a href="#">
            <img src="images/tb6.jpg" alt=""/>
            新手问答
        </a>
    </div>
    <div class="right fl">
        <ul>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
        </ul>
    </div>
</div>
<div class="item1">
    <div class="left fl">
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            中文游戏
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            游戏下载
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            游戏攻略
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            新手问答
        </a>
    </div>
    <div class="right fl">
        <ul>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
        </ul>
    </div>
</div>
<div class="item1">
    <div class="left fl">
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            中文游戏
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            游戏下载
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            单机游戏
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            游戏攻略
        </a>
        <a href="#">
            <img src="images/tb1.jpg" alt=""/>
            新手问答
        </a>
    </div>
    <div class="right fl">
        <ul>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
            <li><a href="#">三国志</a></li>
        </ul>
    </div>
</div>
<div class="item1">
    to be continue.......
</div>
<div class="item1">
    to be continue.......
</div>
<div class="item1">
    to be continue.......
</div>
<div class="item1">
    to be continue.......
</div>

