<div class="zx1">
    <ul>
        <li>
            <h5>数码暴龙怀旧现场！爆满。</h5>
            <p>[排队排了几个小时]　[现场女优来袭]</p>
        </li>
        <li>
            <h5>精灵宝可梦：太阳／月亮</h5>
            <p>[PSVR国行版第二轮预订]　[质量危机新演示]</p>
        </li>
    </ul>
    <ul class="u2">
        <li><a href="#"><i>PS4</i>这是第一条信息</a></li>
        <li><a href="#"><i>PS3</i>人气选手，爆发！</a></li>
        <li><a href="#"><i>PS2</i>十月份国庆后要去找工作啦</a></li>
        <li><a href="#"><i>3DS</i>回广州，心好累呀！</a></li>
        <li><a href="#"><i>PSV</i>年末口袋妖怪中文版发售，要去买。</a></li>
        <li><a href="#"><i>PS2</i>找机油合租？</a></li>
        <li><a href="#"><i>3DS</i>找个稳定点的公司沉淀下来，别乱跑了。</a></li>
        <li><a href="#"><i>PS4</i>这是最后一条信息</a></li>
    </ul>
    <h6>电玩巴士国行PSV一网打尽！</h6>
    <ul class="u2">
        <li><a href="#"><i>PS4</i>这是第一条信息</a></li>
        <li><a href="#"><i>PS3</i>人气选手，爆发！</a></li>
        <li><a href="#"><i>PS2</i>十月份国庆后要去找工作啦</a></li>
        <li><a href="#"><i>3DS</i>回广州，心好累呀！</a></li>
        <li><a href="#"><i>PSV</i>年末口袋妖怪中文版发售，要去买。</a></li>
        <li><a href="#"><i>PS2</i>找机油合租？</a></li>
        <li><a href="#"><i>3DS</i>找个稳定点的公司沉淀下来，别乱跑了。</a></li>
        <li><a href="#"><i>PS4</i>这是最后一条信息</a></li>
    </ul>
    <ul class="u3">
        <li>
            <p><img src="images/m1.jpg" alt=""/></p>
            <p>火热之旅</p>
        </li>
        <li>
            <p><img src="images/m2.jpg" alt=""/></p>
            <p>九月新游推荐</p>
        </li>
        <li>
            <p><img src="images/m3.jpg" alt=""/></p>
            <p>GameTalk</p>
        </li>
    </ul>
</div>
<div class="zx1">
    <ul class="u2">
        <li><a href="#"><i>PS4</i>这是第一条信息</a></li>
        <li><a href="#"><i>PS3</i>人气选手，爆发！</a></li>
        <li><a href="#"><i>PS2</i>十月份国庆后要去找工作啦</a></li>
        <li><a href="#"><i>3DS</i>回广州，心好累呀！</a></li>
        <li><a href="#"><i>PSV</i>年末口袋妖怪中文版发售，要去买。</a></li>
        <li><a href="#"><i>PS2</i>找机油合租？</a></li>
        <li><a href="#"><i>3DS</i>找个稳定点的公司沉淀下来，别乱跑了。</a></li>
        <li><a href="#"><i>PS4</i>这是最后一条信息</a></li>
        <li><a href="#"><i>PS4</i>这是第一条信息</a></li>
        <li><a href="#"><i>PS3</i>人气选手，爆发！</a></li>
        <li><a href="#"><i>PS2</i>十月份国庆后要去找工作啦</a></li>
        <li><a href="#"><i>3DS</i>回广州，心好累呀！</a></li>
        <li><a href="#"><i>PSV</i>年末口袋妖怪中文版发售，要去买。</a></li>
        <li><a href="#"><i>PS2</i>找机油合租？</a></li>
        <li><a href="#"><i>3DS</i>找个稳定点的公司沉淀下来，别乱跑了。</a></li>
        <li><a href="#"><i>PS4</i>这是最后一条信息</a></li>
    </ul>
</div>
<div class="zx1">
    这个人很懒。没有做什么事情！
</div>
<div class="zx1">
    没有开发。。。
</div>